li {
  list-style-type: none;
}

.row {
  display: flex;
}

.liRow {
  display: flex;
}

.box {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 600px;
  min-height: 600px;
}

.footerBox {
  display: flex;
  align-items: center;
  margin: 40px 20px 40px 0px;
  justify-content: flex-end;
}

.itemsBox {
  height: 375px;
  overflow: scroll;
  overflow-x: hidden;
}

.itemsBox::-webkit-scrollbar {
  width: 8px;
}

.itemsBox::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.itemsBox::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
