.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.buttonsRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-right: 340px;
}

.form {
  text-align: center;
  font-size: 12px;
}
